

	<!-- SIDEBAR -->
	<section id="sidebar">
		<a href="/admin/dashboard" class="brand" >
			<i class='bx bxs-smile'></i>
			<span class="text">AdminPanel</span>
		</a>
		<ul class="side-menu top">
			<li id="li_dashboard" class="{{home}}">
				<a href="/admin/dashboard">
					<i class='bx bxs-dashboard' ></i>
					<span class="text">Dashboard</span>
				</a>
			</li>

			<li id="li_users" class="{{users}}">
				<a href="/admin/users">
					<i class='bx bxs-group' ></i>
					<span class="text">Registered Users</span>
				</a>
			</li>
			<li id="li_report" class="{{report}}">
				<a href="/admin/report">
					<i class='bx bxs-user' ></i>
					<span class="text">Students Report</span>
				</a>
			</li>
			<li id="li_news" class="{{news}}">
				<a href="/admin/news">
					<i class='bx bxs-news' ></i>
					<span class="text">Manage News</span>
				</a>
			</li>
			<li id="li_events" class="{{events}}">
				<a href="/admin/events">
					<i class='bx bxs-doughnut-chart' ></i>
					<span class="text">Manage Events</span>
				</a>
			</li>
			<li id="li_photos" class="{{photos}}">
				<a href="/admin/photos">
					<i class='bx bxs-shopping-bag-alt' ></i>
					<span class="text">Manage Photos</span>
				</a>
			</li>
			<li id="li_videos" class="{{videos}}">
				<a href="/admin/videos">
					<i class='bx bxs-video' ></i>
					<span class="text">Manage Videos</span>
				</a>
			</li>
			<li id="li_slider" class="{{slider}}">
				<a href="/admin/slider">
					<i class='bx bxs-doughnut-chart' ></i>
					<span class="text">Manage Slider</span>
				</a>
			</li>
			<li id="li_feedback" class="{{feedback}}">
				<a href="/admin/feedback" >
					<i class='bx bxs-message-dots' ></i>
					<span class="text">FeedBacks</span>
				</a>
			</li>
			
		</ul>
		<ul class="side-menu">
			<li id="li_setting">
				<a href="/admin/setting" class="{{setting}}">
					<i class='bx bxs-cog' ></i>
					<span class="text">Settings</span>
				</a>
			</li>
			<li id="li_asetting">
				<a href="/admin/asetting" class="{{asetting}}">
					<i class='bx bxs-cog' ></i>
					<span class="text">Settings</span>
				</a>
			</li>
			<li id="">
				<a href="/admin/logout" class="logout">
					<i class='bx bxs-log-out-circle' ></i>
					<span class="text">Logout</span>
				</a>
			</li>
		</ul>
	</section>
	<!-- SIDEBAR -->